.title {
	color: white;
	background-color: #0b5681;
	padding: 30px 100px;
	padding-left: 200px;
	border-radius: 100px;
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.2);

	font-family: 'Hacked';
	font-size: 12em;

	white-space: nowrap;

	position: fixed;
	top: 38%;
	left: 25%;
}

@media (max-width: 1366px) {
	.title {
		font-size: 8em;
		padding-left: 150px;
		left: 30%;
	}
}

@media (max-width: 1024px) {
	.title {
		font-size: 80px;
		padding: 20px 40px;
		padding-left: 100px;
		left: 30%;
	}
}

@media (max-width: 667px) {
	.title {
		font-size: 60px;
	}
}
