@font-face {
	font-family: 'Mplus';
	src: url('./Fonts/MPLUS1p-ExtraBold.woff2') format('woff2'),
		url('./Fonts/MPLUS1p-ExtraBold.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

.applications {
	background-color: #8edce8;
	height: 100vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
}

.applications button {
	padding: 40px;
	transition: transform 0.2s;
	border-radius: 10%;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.applications button span {
	font-size: 40px;
	color: white;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Mplus';
}

.applications button svg {
	width: 180px;
	height: 180px;
}

.applications button:hover {
	transform: scale(1.05);
}

.exit {
	position: fixed;
	top: 50px;
	right: 50px;
}

.calendar {
	background-color: #0fa7eb;
	box-shadow: -25px 25px 0px #346880;
}

.protocol {
	background-color: #12a2a1;
	box-shadow: -25px 25px 0px #346868;
}

.email {
	background-color: #433360;
	box-shadow: -25px 25px 0px #251f31;
}

.files {
	background-color: #f37c48;
	box-shadow: -25px 25px 0px #bd4a46;
}

.browser {
	background-color: #615298;
	box-shadow: -25px 25px 0px #433360;
}

.music {
	background-color: #f2c38f;
	box-shadow: -25px 25px 0px #ab7447;
}

@media (max-width: 1024px) {
	.container {
		gap: 20px;
	}
	.applications button {
		padding: 20px;
	}
	.applications button svg {
		width: 60px;
		height: 60px;
	}

	.applications button span {
		font-size: 16px;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
	}

	.exit {
		top: 20px;
		right: 20px;
	}

	.exit svg {
		width: 70px;
		height: 70px;
	}

	.calendar {
		box-shadow: -10px 10px 0px #346880;
	}

	.protocol {
		box-shadow: -10px 10px 0px #346868;
	}

	.email {
		box-shadow: -10px 10px 0px #251f31;
	}

	.files {
		box-shadow: -10px 10px 0px #bd4a46;
	}

	.browser {
		box-shadow: -10px 10px 0px #433360;
	}

	.music {
		box-shadow: -10px 10px 0px #ab7447;
	}
}
