.applications {
	background: rgb(142, 220, 232);
	background: -moz-radial-gradient(circle, rgba(142, 220, 232, 1) 50%, rgba(64, 162, 177, 1) 100%);
	background: -webkit-radial-gradient(
		circle,
		rgba(142, 220, 232, 1) 50%,
		rgba(64, 162, 177, 1) 100%
	);
	background: radial-gradient(circle, rgba(142, 220, 232, 1) 50%, rgba(64, 162, 177, 1) 100%);

	height: 100vh;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 60px;
}

.applications button {
	padding: 40px;
	transition: transform 0.2s;
	border-radius: 10%;
	z-index: 1;

	display: flex;
	flex-direction: column;
	align-items: center;
}

.applications button span {
	font-size: 40px;
	color: white;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Mplus';
	font-weight: 800;
}

.applications button svg {
	width: 180px;
	height: 180px;
}

.applications button:hover {
	transform: scale(1.05);
}

.exit {
	z-index: 1;
	position: fixed;
	top: 50px;
	right: 50px;
}

.calendar {
	background-color: #0fa7eb;
	box-shadow: -25px 25px 0px #346880;
}

.protocol {
	background-color: #12a2a1;
	box-shadow: -25px 25px 0px #346868;
}

.email {
	background-color: #433360;
	box-shadow: -25px 25px 0px #251f31;
}

.files {
	background-color: #f37c48;
	box-shadow: -25px 25px 0px #bd4a46;
}

.browser {
	background-color: #615298;
	box-shadow: -25px 25px 0px #433360;
}

.music {
	background-color: #f2c38f;
	box-shadow: -25px 25px 0px #ab7447;
}

@media (max-width: 1366px) {
	.container {
		gap: 25px;
	}
	.applications button {
		width: 14vw;
		height: 14vw;
		padding: 25px;
	}
	.applications button svg {
		width: 140px;
		height: 140px;
	}
	.applications button span {
		font-size: 24px;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
	}
	.exit {
		top: 5%;
		right: 3%;
	}

	.exit svg {
		width: 100px;
		height: 100px;
	}

	.calendar {
		box-shadow: -12px 12px 0px #346880;
	}

	.protocol {
		box-shadow: -12px 12px 0px #346868;
	}

	.email {
		box-shadow: -12px 12px 0px #251f31;
	}

	.files {
		box-shadow: -12px 12px 0px #bd4a46;
	}

	.browser {
		box-shadow: -12px 12px 0px #433360;
	}

	.music {
		box-shadow: -12px 12px 0px #ab7447;
	}
}

@media (max-width: 1024px) {
	.container {
		gap: 20px;
	}
	.applications button {
		padding: 20px;
	}
	.applications button svg {
		width: 60px;
		height: 60px;
	}

	.applications button span {
		font-size: 16px;
		text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.25);
	}

	.exit {
		top: 20px;
		right: 20px;
	}

	.exit svg {
		width: 70px;
		height: 70px;
	}

	.calendar {
		box-shadow: -8px 8px 0px #346880;
	}

	.protocol {
		box-shadow: -8px 8px 0px #346868;
	}

	.email {
		box-shadow: -8px 8px 0px #251f31;
	}

	.files {
		box-shadow: -8px 8px 0px #bd4a46;
	}

	.browser {
		box-shadow: -8px 8px 0px #433360;
	}

	.music {
		box-shadow: -8px 8px 0px #ab7447;
	}
}
