.office,
.home,
.bank {
	cursor: pointer;
}

@keyframes hoverMove {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
}

.office:hover,
.home:hover,
.bank:hover {
	animation: hoverMove 1s ease-in-out infinite;
	fill: rgba(0, 0, 0, 0.1);
}
