.character {
	position: fixed;
	bottom: -180px;
	z-index: 2;
	left: 0;
}

.onMenu {
	left: 10%;
	width: 26vw;
}

@media (max-width: 1024px) {
	.character {
		width: 150px;
		bottom: -120px;
	}

	.onMenu {
		width: 28vw;
		left: 18%;
	}
}

@media (max-width: 667px) {
	.onMenu {
		width: 35vw;
		left: 18%;
	}
}
