.container {
	width: 100%;
	height: 100%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container main button svg {
	width: 70px;
	height: 70px;
}

.container main {
	width: 85%;
	height: 75%;
	background-color: #fef9f4;
	border: 1px solid #999999;
	border-radius: 20px;
	overflow-y: scroll;
	box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.track {
	font-size: 22px;
	padding: 10px 20px;
	cursor: pointer;
	transition: all ease 0.2s;

	display: flex;
	align-items: center;
	gap: 20px;
	color: black;
}
.track:not(:last-child) {
	border-bottom: 2px solid #999999;
}

.container main::-webkit-scrollbar {
	width: 20px;
}

.container main::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

.container main::-webkit-scrollbar-thumb {
	background-color: #f2c38f;
	border-radius: 10px;
	border: 0px solid transparent;
	background-clip: padding-box;
}

@media (max-width: 1366px) {
	.container main {
		width: 85%;
		height: 75%;
		border-radius: 14px;
		box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
	}

	.track {
		font-size: 16px;
		padding: 10px 15px;
	}

	.title {
		font-size: 16px;
	}

	.container main::-webkit-scrollbar {
		width: 14px;
	}
}

@media (max-width: 1024px) {
	.container main {
		box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.25);
	}

	.track {
		font-size: 12px;
		padding: 8px;
		gap: 10px;
		line-height: 1.2;
	}
	.container main button svg {
		width: 30px;
		height: 30px;
	}

	.container main::-webkit-scrollbar {
		width: 10px;
	}
}
