@keyframes moveBackground {
	from {
		transform: translateX(-50%);
	}
	to {
		transform: translateX(0);
	}
}

.movingBackground {
	background-repeat: repeat-x;
	background-position: center;
	background-size: cover;
	width: 200%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.clouds {
	animation: moveBackground 70s linear infinite;
}

.buildings {
	animation: moveBackground 90s linear infinite;
}

.grass {
	animation: moveBackground 35s linear infinite;
}
