.button {
	position: fixed;
	bottom: 100px;
	right: 100px;
}

.button svg {
	width: 300px;
	height: 300px;
}

@media (max-width: 1024px) {
	.button svg {
		width: 150px;
		height: 150px;
	}
	.button {
		bottom: 20px;
	}
}
