.clockContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.clock {
	position: relative;
}

.clockText {
	z-index: 2;
	color: white;
	font-size: 30px;
	font-family: 'DigitalNumbers';

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-56%, -65%);
}

@media (max-width: 1024px) {
	.clockText {
		font-size: 14px;
	}

	.clock {
		width: 60px;
	}
}
