.pulse {
	position: absolute;
	z-index: var(--z-pulse);
	width: 200px;
	height: 200px;
	pointer-events: none;
}

.pulsating::after,
.pulsating::before {
	content: '';
	position: absolute;
	border: 5px solid white;
	left: -20px;
	opacity: 0;
	right: -20px;
	top: -20px;
	bottom: -20px;
	border-radius: 50%;
	animation: pulse 2.5s linear infinite;
}

.pulsating::after {
	animation-delay: 1.25s;
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1.2);
		opacity: 0;
	}
}

@media (max-width: 1024px) {
	.pulse {
		width: 100px;
		height: 100px;
	}
}
