.gamebar {
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #433360;

	padding: 20px;
	padding-left: 220px;
	border-radius: 0 20px 0 0;

	display: flex;
	gap: 20px;
}

@media (max-width: 1024px) {
	.gamebar {
		padding: 10px;
		padding-left: 130px;
	}
}
