.instruments {
	background-color: #433360;
	border-radius: 0 20px 20px 0;

	display: flex;
	gap: 10px;

	position: fixed;
	bottom: 20px;
	left: 20px;
	transition: all 0.5s ease;
}

.instruments.active {
	padding: 20px;
	transform: translateX(80%);
	bottom: 0;
	left: 0;
}

.instruments ul {
	padding: 20px;

	border-radius: 20px;
	background-color: #302348;
	display: flex;
	gap: 50px;
}

.instruments button svg {
	height: 40px;
}

.instruments img {
	cursor: pointer;
}

@keyframes bounce {
	0%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-10px);
	}
	60% {
		transform: translateY(-2px);
	}
}

.instruments li:hover {
	animation: bounce 2s ease infinite;
}

@media (max-width: 1024px) {
	.instruments {
		bottom: 5px;
		left: 0;
	}
	.instruments ul {
		gap: 30px;
		padding: 10px;
	}

	.instruments button svg {
		width: 30px;
		height: 20px;
	}
	.instruments img {
		width: 40px;
		height: 60px;
	}
	.instruments.active {
		padding: 10px;
		transform: translateX(80%);
	}
}
