.container {
	width: 100%;
	height: 100vh;
	background-color: #f2c38f;

	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	background-color: #8edce8;
	box-shadow: 0px 20px 0px rgba(0, 0, 0, 0.25);

	position: fixed;
	top: 0;
	left: 0;
	width: 100%;

	display: flex;
	align-items: center;
	gap: 10px;
	padding: 30px 30px 0 30px;
}

.header h2 {
	font-size: 40px;
	text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.25);
	font-family: 'Mplus';
}

.header svg {
	width: 120px;
	height: 120px;
	padding: 10px;
}

.container main {
	width: 60%;
	height: 60vh;
	background-color: white;
	box-shadow: 20px 20px 0px rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	overflow-y: scroll;

	padding: 20px 0;
}

.track {
	font-size: 30px;
	padding: 30px;
	cursor: pointer;

	display: flex;
	align-items: center;
	gap: 20px;
	color: black;
}

.track:hover {
	background-color: #ebf5f5;
}

.title {
	font-weight: 700;
}

.container main::-webkit-scrollbar {
	width: 30px;
}

.container main::-webkit-scrollbar-track {
	background: transparent;
	border-radius: 10px;
}

.container main::-webkit-scrollbar-thumb {
	background-color: #8edce8;
	border-radius: 10px;
	border: 0px solid transparent;
	background-clip: padding-box;
}

@media (max-width: 1024px) {
	.header {
		padding: 0 20px;
		gap: 10px;
		box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.25);
	}
	.header svg {
		width: 70px;
		height: 70px;
	}
	.header h2 {
		font-size: 24px;
	}

	.container main {
		margin-top: 40px;
		width: 80%;
		box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.25);
		padding: 10px 0;
	}

	.track {
		font-size: 16px;
		padding: 10px 20px;
	}
}
