@font-face {
	font-family: 'Mplus';
	src: url('/Fonts/MPLUS1p-ExtraBold.woff2') format('woff2'),
		url('/Fonts/MPLUS1p-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Mplus';
	src: url('/Fonts/MPLUS1p-Medium.woff2') format('woff2'),
		url('/Fonts/MPLUS1p-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Mplus';
	src: url('/Fonts/MPLUS1p-Regular.woff2') format('woff2'),
		url('/Fonts/MPLUS1p-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Mplus';
	src: url('/Fonts/MPLUS1p-Light.woff2') format('woff2'),
		url('/Fonts/MPLUS1p-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Hacked';
	src: url('/Fonts/hacked.woff2') format('woff2'), url('/Fonts/hacked.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DigitalNumbers';
	src: url('/Fonts/DigitalNumbers-Regular.woff2') format('woff2'),
		url('/Fonts/DigitalNumbers-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
