.question {
	position: fixed;
	bottom: 20%;
	left: 8%;
	z-index: 6;

	color: white;
	width: 25vw;
	border-radius: 20px 20px 20px 0;
	background-color: #433360;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.25);
	padding: 30px;
	font-size: 26px;
}

.answer {
	position: fixed;
	top: 15%;
	right: 3%;
	z-index: 6;

	display: flex;
	flex-direction: column;
	gap: 10px;

	width: 25vw;
	background-color: #302348;
	box-shadow: 15px 15px 0px rgba(0, 0, 0, 0.25);
	border-radius: 20px 20px 20px 0;
	padding: 20px;
	font-size: 26px;
	color: white;
}

.name {
	font-weight: 700;
	margin-left: 10px;
}

.speech {
	background-color: #433360;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
	padding: 30px 20px;
	border-radius: 20px;
}

.choices {
	position: fixed;
	bottom: 5%;
	right: 0;
	z-index: 6;

	display: flex;
	flex-direction: column;
	gap: 20px;

	background-color: #302348;
	width: 50vw;
	padding: 30px 20px;
	border-radius: 20px 0 0 20px;
	padding-right: 3%;
}

.choice {
	color: white;
	text-align: left;

	background-color: #433360;
	padding: 30px;
	border-radius: 20px;
	box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.25);
	font-size: 26px;
	transition: background-color 0.2s;
}

.choice:hover {
	background-color: #3a2b54;
}

.choice:disabled {
	position: relative;
	cursor: not-allowed;
	color: transparent;
	background-image: url('./Assets/Icons/noise.png');
	background-color: rgb(62 42 118 / 50%);
	background-blend-mode: multiply;
}

.choice:disabled::before {
	content: '';
	background-image: url('./Assets/Icons/lock_choice.svg');
	position: absolute;
	transform: translateY(-50%);
	left: 2%;
	top: 50%;
	width: 50px;
	height: 50px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	display: block;
}

@media (max-width: 1024px) {
	.question {
		left: 13%;
		bottom: 30%;
		width: 40vw;
		padding: 16px;
		font-size: 16px;
	}
	.answer {
		top: 5%;
		right: 2%;
		font-size: 16px;
		padding: 18px 12px;
		width: 30vw;
	}
	.speech {
		padding: 16px;
	}
	.choices {
		width: 60vw;
		padding: 18px 12px;
		gap: 14px;
		bottom: 0;
		border-radius: 20px 0 0 0px;
	}
	.choice {
		font-size: 16px;
		padding: 18px;
	}
	.choice:disabled::before {
		left: 4%;
		width: 20px;
		height: 20px;
	}
}
